	

.s { /* this styling was taken from a button generator*/
    
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

  }



#buttonDiv { 
padding: 50px;


}

#squares2 {      /*these are my square divs*/

	height: 100%;
	width: 100%;
	/*border: 1px solid black;*/
	/*background-color: blue;*/
  border-style: none;
  border: none;



}


#cells  { 
    
    padding: 0; 
    border-style: none;
    border: none;


}

#table {

  border-collapse: separate;
  border-spacing: 0;
  width: 500px;
  height: 500px;
  margin-right: auto;
  margin-left:auto;
  border: 1px solid black;

  



}
    

